.center {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.addTodoContainer {
  display: flex;
  align-items: center;
}

.inputBox {
  height: 38px;
  border-radius: 8px;
  width: 100%;
}
.submitButton {
  margin-top: 10px;
  width: 100%;
}

.todoItem {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: x-large;
  max-height: fit-content;
}
.todoButton {
  margin-left: auto;
}
